<%- include('../views/components/html/html-head.ejs') %>
<body>
    <%- include('../views/components/nav/fixed-nav.ejs') %>
  <div class="main-content">
    <div class="product-card">
      <h1>all terrain durability for any adventure</h1>
      <h2>Boom Boom Lite</h2>
      <h2>$89.99</h2>
  
      <div class="addToCartRow">
        <input class="product-qty" href="#" type="tel" value="1" maxlength="2" pattern="^[0-9]"></input>
        <a class="product-btn" href="#">Add to Cart</a>
      </div>
     
      <div class="product-story">
        <p> Weighing in at less than 1 lb., the BOOM-BOOM Lite is an ultra-portable speaker engineered for life's adventures. A carbon fiber shell & IPX-7 waterproofing means it's good to go in the mountains or by the pool.  </p>
      </div>
  
      <div class="productIcons-list">
        <div class="productIcon">
          <img src="/assets/icons/bluetooth-icon.png" class="productIcon-image">
          <span class="productIcon-title">
            Bluetooth Wireless Technology
          </span>
        </div>
        <div class="productIcon">
            <img src="/assets/icons/battery-icon.png" class="productIcon-image">
            <span class="productIcon-title">
              8-Hour Battery Life
            </span>
          </div>
        <div class="productIcon">
          <img src="/assets/icons/water-icon.png" class="productIcon-image">
          <span class="productIcon-title">
            IPX7 Waterproofing
          </span>
        </div>
        <div class="productIcon">
            <img src="/assets/icons/carbonFiber-icon.png" class="productIcon-image">
            <span class="productIcon-title">
              Carbon Fiber Shell
            </span>
        </div>
        <div class="productIcon">
            <img src="/assets/icons/charging-icon.png" class="productIcon-image">
            <span class="productIcon-title">
              External Device Charging
            </span>
          </div>
          <div class="productIcon">
              <img src="/assets/icons/volume-icon.png" class="productIcon-image">
              <span class="productIcon-title">
                Track & Volume Control
              </span>
            </div>
          <div class="productIcon">
            <img src="/assets/icons/feather-icon.png" class="productIcon-image">
            <span class="productIcon-title">
              1-lb Total Weight
            </span>
          </div>
      </div>
    </div>
    <div class="product-img">
      <img class="profile-picture" src="/assets/images/speaker2.jpg">
      <img class="profile-picture" src="/assets/images/speaker.jpg">
    </div>
  </div>
</body>