<section id="form">
  <h4> LET'S GET IN TOUCH </h4>
    <div class="l-Section-content" id="contact-form">
      <span>lyoncodes@gmail.com<br></span>
      <span>(206) 471-9205</span>
      <form action="https://formspree.io/lyoncodes@gmail.com" method="POST">
      <div id="contact-form-fields">
        <label for="name">Name:</label>
        <input type="text" name="name"><br>
        <label for="email">Email: </label>
        <input type="text" name="email"><br>
        <label for="message">Note: </label>
        <textarea class="form-text-area" name="message"></textarea><br>
      </div>
        <button type="submit" class="menu-buttons">Send</button>
     </form>
  </div>

</section>
