<section>   
    <div class="l-Section-content desktop-display">
      <div class="portfolio">
        <a href="/samples" class="nav-links">Work Samples</a>
        <a href="/assets/docs/Resume.pdf" class="nav-links" download="">Resume</a>
        <a href="/social" class="nav-links">Social Media</a>
      </div>
    </div>
</section>
