<header>
   <div class="content-header">
     <h1 id="main-title"> Good Stuff </h1>
     <h3> Updated Regularly </h3>
   </div>
</header>
<section class="nav-menu-ul">
   <div class="nav-menu-ul-container">
      <ul>
         <li><a class="li-underline" id="target1">
            <span>Novels</span></a></li>
          <div class="link-display">
            <div class="link-row">
              <li><a class="fav-li-underline">
                <span>100 Years of Solitude</span></a>
                <span class="sub-title">Marquez</span>
              </li>
              <li><a class="fav-li-underline">
                <span>Sometimes a Great Notion</span></a>
                <span class="sub-title">Kesey</span>
               </li>
              <li><a class="fav-li-underline">
                <span>East of Eden</span></a>
                <span class="sub-title">Steinbeck</span>
               </li>
              <li><a class="fav-li-underline">
                <span>Dune</span></a>
                <span class="sub-title">Herbert</span>
               </li>
              <li><a class="fav-li-underline">
                <span>All The Pretty Horses</span></a>
                <span class="sub-title">McCarthy</span>
               </li>
              <li><a class="fav-li-underline">
                <span>The Sound & The Fury</span></a>
                <span class="sub-title">Faulkner</span>
               </li>
              <li><a class="fav-li-underline">
                <span>The Bluest Eye</span></a>
                <span class="sub-title">Morrison</span>
               </li>
              <li><a class="fav-li-underline">
                <span>Slaughter House Five</span></a>
                <span class="sub-title">Vonnegut</span>
               </li>
            </div>
          </div>
      </ul>
   </div>
   <div class="nav-menu-ul-container">
         <ul>
            <li><a class="li-underline" id="target1">
               <span>Recorded Music</span></a></li>
             <div class="link-display">
               <div class="link-row">
                 <li><a class="fav-li-underline">
                   <span>In A Silent Way</span></a>
                   <span class="sub-title">Miles Davis</span>
                 </li>
                 <li><a class="fav-li-underline">
                   <span>The Chronic</span></a>
                   <span class="sub-title">Dr.Dre</span>
                  </li>
                 <li><a class="fav-li-underline">
                   <span>In Pursuit of the 27th Man</span></a>
                   <span class="sub-title">Horace Silver</span>
                  </li>
                 <li><a class="fav-li-underline">
                   <span>Hot Buttered Soul</span></a>
                   <span class="sub-title">Isaac Hayes</span>
                  </li>
                 <li><a class="fav-li-underline">
                   <span>Pet Sounds</span></a>
                   <span class="sub-title">The Beach Boys</span>
                  </li>
                 <li><a class="fav-li-underline">
                   <span>Illmatic</span></a>
                   <span class="sub-title">Nas</span>
                  </li>
                 <li><a class="fav-li-underline">
                   <span>Trout Mask Replica</span></a>
                   <span class="sub-title">Captain Beefheart</span>
                  </li>
                 <li><a class="fav-li-underline">
                   <span>Live on the Queen Marie</span></a>
                   <span class="sub-title">Professor Longhair</span>
                  </li> 
               </div>
             </div>
         </ul>
      </div>
      <div class="nav-menu-ul-container">
            <ul>
               <li><a class="li-underline" id="target1">
                  <span>Small Joys</span></a></li>
                <div class="link-display">
                  <div class="link-row">
                    <li><a class="li-underline">
                      <span>grilled cheese</span></a>
                    </li>
                    <li><a class="li-underline">
                      <span>wool socks</span></a></li>
                    <li><a class="li-underline">
                      <span>fresh towels</span></a></li>
                    <li><a class="li-underline">
                      <span>cycling in a tailwind</span></a></li>
                    <li><a class="li-underline">
                      <span>gourmet leftovers</span></a></li>
                    <li><a class="li-underline">
                      <span>sneezing</span></a></li>
                    <li><a class="li-underline">
                      <span>untocuhed snow</span></a></li>
                    <li><a class="li-underline">
                      <span>cozy chairs</span></a></li> 
                  </div>
                </div>
            </ul>
         </div>
</section>