<div class="contact">
 <section class="Section">

  <div class="l-section-content">
   <h3 class="contact-title"> Let's Get in Touch! </h3>
   <div class="info">
    <div class="contact-info">
     <p>Email: lyoncodes@gmail.com<br></p>
     <p>Phone: 206-471-9205</p>
    </div>
     <form action="https://formspree.io/lyoncodes@gmail.com" method="POST" class="form" id="formAl">
       <label for="name">Name:</label>
       <input type="text" class="form-input" name="name"><br>
       <label for="email">Email:</label>
       <input type="text" class="form-input" name="email"><br>
       <p class="msg-label">Message: </p>
       <textarea class="form-text-area" name="message"></textarea><br>
       <button type="submit">Send</button>
     </form>
   </div>

  </div>
 </div>

 </section>
</div>