<section id="form">
  <h4> HOLLA AT ME </h4>
    <div class="l-Section-content">
      <div class="info">
      <div class="contact-info">
      <span>lyoncodes@gmail.com<br></span>
      <span>(206) 471-9205</span>
      </div>
     <form action="https://formspree.io/lyoncodes@gmail.com" method="POST" class="form" id="formAl">
      <div class="field">
        <label for="name">Name:</label>
        <input type="text" class="form-input" name="name"><br>
        <label for="email">Email: </label>
        <input type="text" class="form-input" name="email"><br>
        <label for="message">Note: </label>
        <textarea class="form-text-area" name="message"></textarea><br>
      </div>
        <button type="submit" class="menu-buttons">Send</button>
     </form>
   </div>

  </div>
  </div>
</section>
