<div class="contact">
 <section class="Section">

  <div class="l-section-content">

   <!-- <h1 class="Title"> Get In Touch</h1> -->
   <h3 class="contact-title"> Contact Info </h3>
   <div class="info">
    <p>Email: lyoncodes@gmail.com</p>
    <p>Phone: 206-471-9205</p>
   </div>
   <form class="form" id="formAl">
    <div class="info">
     <label for="name">Name:</label>
     <input type="text" class="form-input" name="name"><br>
     <label for="email">Email:</label>
     <input type="text" class="form-input" name="email"><br>
     <p class="msg-label">Message: </p>
     <textarea class="form-text-area" name="message"></textarea><br>
     <button type="submit">Send</button>
    </div>
   </form>

  </div>

 </section>
</div>