 <section class="Section">
   <h4 class="section-title"> HOLLA AT ME </h4>
  <div class="l-Section-content">
   <div class="info">
    <div class="contact-info">
     <span>lyoncodes@gmail.com<br></span>
     <span>(206) 471-9205</span>
    </div>
     <form action="https://formspree.io/lyoncodes@gmail.com" method="POST" class="form" id="formAl">
       <input type="text" class="form-input" name="name" value="NAME"><br>
       <input type="text" class="form-input" name="email" value="EMAIL"><br>
       <textarea class="form-text-area" name="message" placeholder="MESSAGE"></textarea><br>
       <button type="submit" class="menu-buttons">Send</button>
     </form>
   </div>

  </div>
  </div>
 </section>
