<%- include('../views/head.ejs') %>
<body>
 <div class="wrapper">
  <%-  include('../views/nav.ejs') %>

  <section>
   <div class="l-Section-content">
    <h4>Shouts Out To:</h4>
   </div>
  </section>

  <div class="main-content">
   <a href="https://giphy.com/pugliepug">
    <div class="card">
     <h4>Pugglie Pug</h4>
     <span>Euge Leung -- Vancouver, BC</span>
    </div>
   </a>
  <a href="https://giphy.com/stickers/new-text-animated-Up1hVn9raCuuCtS29l/links">
   <div class="card">
     <h4>Work GIF</h4>
     <span>Ceyda Koc -- Istanbul</span>
    </div>
  </a>

  <a href="https://giphy.com/bynorafikse">
  <div class="card">
      <h4>New Post GIF</h4>
      <span>Nora Fikse</span>
     </div>
  </div>
  </a>

 </div>
</body>
</html>