<%- include('../views/head.ejs') %>
<body>
  <%- include('../views/nav.ejs') %>
  <div class="resume-body">
    <h1 class = "Title">Curriculum Vitae</h1>
    <div class="cvv">
      I hold a B.A. in English from the University of Oregon and am seeking a career in content marketing. My ability to write clear, intelligent copy for a variety of audiences makes me an asset on teams requiring dynamic messaging. I bring a functional understanding of web development using JavaScript, HTML, and CSS, and can build responsive, mobile-friendly content from scratch.
    </div>
    <div class="cvv">
      I have experience coordinating digital marketing campaigns focused on social media, specializing in promoting brand awareness and generating new followers. I'm a tenacious market researcher that stays in-touch with the needs and desires of my audience.
    </div>
    <div class="cvv">
      My reportoire includes advertisements, client relations, and project managment corridinations. I work well across teams, translating technical ideas into creative initiative.
    </div>

  </div>
  <%- include('../views/contact.ejs') %>
</body>
</html>