<%- include('../views/head.ejs') %>
<body>
  <%- include('../views/nav.ejs') %>
  <div class="resume-body">
    <h1 class = "Title">Michael Lyon</h1>
    <div class="cvv">
      I hold a B.A. in English from the University of Oregon and am seeking a career in content development. My ability to write clear, intelligent content for a variety of audiences makes me an asset on teams requiring dynamic messaging. I bring four years of experience in real estate marketing and have a functional understanding of web development using JavaScript, HTML, and CSS.
    </div>
    <div class="cvv">
      I have experience coordinating year-round marketing strategies focused on digital media outreach and targeted social media content. Through effective market research,
      While managing large-scale construction improvements I displayed aptitude for coordinating communications between vendors and clients, effectively conveying progress towards milestones while helping align stakeholders’ expectations. I drafted and edited internal and external communications in the planning and execution of $40K in countertop replacements, $15K in commercial security upgrades, and $400K in structural repairs following building floods.
      Most recently, I have completed courses in web development using JavaScript, HTML, and CSS. I am familiar with mobile-first design, responsive layout, and meta- data analytics, with experience creating full-stack web applications.
    </div>
  </div>
</body>
</html>