<%- include('../views/head.ejs') %>
<body>
  <%- include('../views/nav.ejs') %>
  <div class="resume-body">
    <h1 class = "Title">Curriculum Vitae</h1>
    <div class="cvv">
      I hold a B.A. in English from the University of Oregon and am seeking a career in content development. My ability to write clear, intelligent content for a variety of audiences makes me an asset on teams requiring dynamic messaging. I bring four years of experience in real estate marketing and have a functional understanding of web development using JavaScript, HTML, and CSS. This webpage was built from scratch, with very few dependencies, styled in the likeness of Japanese fashion blogs.
    </div>
    <div class="cvv">
      I have experience coordinating year-round marketing strategies focused on digital media outreach and targeted social media content. My reportoire includes advertisements, client relations, and project managment corridinations.
    </div>

  </div>
</body>
</html>