<section class="Section">
 <h4 class="section-title">Experience</h4>
 <div class="l-Section-content">
   <h4 class="section-title">Blanton Turner</h4>
   <span class="Title-sub">Seattle, WA | 2016 - Present</span>
     <ul>
       <h4 class="section-title">Assistant Property Manager</h4>
         <ul class="sub-list">
           <li>Coordinated communications for commerical and residential real estate projects, including multi-phase construction improvements and insurance-loss reconcilliations</li>
           <li>Developed marketing materials for apartment advertisements and building promotions, with demonstrated results in leasing and tenant retention</li>
           <li>Contributed actionable insights to large-scale projects across multi-vertical fields of building maintenance and improvement, including large-scale remodels and green-building system repairs</li>
           <li>Delivered weekly financial reports to building ownership</li>
         </ul>
       <h4 class="section-title">Flex-Team Leasing Manager</h4>
           <ul class="sub-list">
             <li>Extends Blanton Turner brand across company’s property portfolio, providing site level assistance on marketing campaigns and leasing tasks</li>
             <li>Schedules and hosts apartment tours, curating prospect waitlists and follow up appointments</li>
             <li>Tracks day-to-day operations and reports to Property Managers</li>
           </ul>
         </li>
     </ul>
   <h4 class="section-title">Nordstrom</h4>
   <span class="Title-sub">Seattle, WA | 2016</span>
     <ul>
       <h4 class="section-title">Sales Associate (Kids' Shoes)</h4>
       <ul class="sub-list">
         <li>Provided industry-defining customer service within a world renowned retail destination</li>
         <li>Drove exceptional sales results through in-depth product knowledge and follow-up marketing</li>
         <li>Created and managed SQL database of regular customers</li>
       </ul>
     </ul>
   </div>

</section>
