<section class="Section">
 <h4 class="section-title">Experience</h4>
 <div class="l-Section-content">
   <h4 class="section-title">Blanton Turner</h4>
   <span class="Title-sub">Seattle, WA | 2016 - Present</span>
     <ul>
       <h4 class="section-title">Assistant Property Manager</h4>
         <ul class="sub-list">
           <li>Coordinated communications for commerical and residential real estate projects, including multi-phase construction improvements and insurance-loss reconcilliations</li>
           <li>Maintained occupancy rates >93% for 24 consecutive months though digital marketing strategies and client-facing skills</li>
           <li>Contributed actionable insights to projects exceeding $450K, including structural repairs, commercial remodels, and insurance losses</li>
           <li>Scheduled and hosted apartment tours and commercial showings, curating CRM databases for follow-up communications and relationship networking</li>
         </ul>
       <h4 class="section-title"> Flex-Team Leasing Agent</h4>
         <ul class="sub-list">
           <li>Fulfills client-facing responsibilities across company’s property portfolio, providing site-level assistance for property management and leasing tasks</li>
           <li>Creates external messaging and coordinates online advertising for available apartment homes</li>
           <li>Schedules and hosts apartment tours, building sales relationships through follow-up marketing and special events</li>
           <li>Builds CRM databases using Knock.com and Yardi management tools  </li>
         </ul>
     </ul>
   <h4 class="section-title">Coldwell Banker Bain</h4>
   <span class="Title-sub">Seattle, WA | 2015 - 2017</span>
      <ul>
       <h4 class="section-title">Real Estate Broker</h4>
          <ul class="sub-list">
            <li>Hosted open house showings for real estate listings across Seattle, coordinating event promotion and facilitating guest experience</li>
            <li>Developed client referral pipeline to connect first time home buyers to senior colleagues, achieving 4 referrals-to-contract in September 2016</li>
            <li>Created quarterly market analysis materials for open house distribution</li>
          </ul>
      </ul>
  
   <h4 class="section-title">Molly Moon's Homemade Ice Cream</h4>
   <span class="Title-sub">Seattle, WA | 2014 - 2016</span>
     <ul>
       <h4 class="section-title">Shift Manager</h4>
       <ul class="sub-list">
         <li>Achieved 110% of annual sales goal as compared against yearly projections</li>
         <li>Provided exceptional customer service while meeting high-volume demand & delegating team priorities</li>
         <li>Reported daily financials & shift results to shop managers using Microsoft Office</li>
       </ul>
     </ul>
 
   </div>

</section>
