<%- include('../views/head.ejs') %>
<body>
 <div class="wrapper">
  <%-  include('../views/nav.ejs') %>

  <section>
   <div class="l-Section-content">
    <h4>Facebook Example</h4>
   </div>
  </section>
   <div class="main-content">
    <div class="card">
     <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
     <img src="/styles/img/fb-1.png"class="portfolio-slide"></img>
     <img src="/styles/img/fb-2.png"class="portfolio-slide"></img>
     <img src="/styles/img/fb-3.png"class="portfolio-slide"></img>
    </div>
   </div>


 </div>
</body>
</html>