<%- include('../views/head.ejs') %>
<body>
 <div class="wrapper">
  <%-  include('../views/nav.ejs') %>

  <section>
   <div class="l-Section-content">
    <h4>Facebook</h4>
   </div>
  </section>
   <div class="main-content">
    <div class="card">
     <p>Greenfire Campus is an ultra-modern, eco-friendly building in Seattle’s Ballard neighborhood. It’s a mixed-use project that utilizes sustainable systems within luxury interiors. Social media content showcases the community’s unique lifestyle offerings and establishes an approachable, intelligent voice. </p>
     <img src="/styles/img/fb-2.png"class="portfolio-slide"></img>
     <img src="/styles/img/fb-3.png"class="portfolio-slide"></img>
     <img src="/styles/img/fb-1.png"class="portfolio-slide"></img>
    </div>
   </div>


 </div>
</body>
</html>