<%- include('../views/components/html/html-head.ejs') %>
<body>
  <div class="apt-body" id="headline">
    <h1>100 Union West</h1>
    <div class="apt-section-content-wrap">
      <div class="apt-section-content">
        <h1 class="apt-section-title">An Elevated Profile </h1>
        <p>Presiding over the Financial District, 100 Union West presents a distinguished collection of residences at the epicenter of Seattle's most renowned cultural offerings, where high-tech innovation meets a legacy of pioneering ambition.<br><br>
        A progressive approach to metropolitan luxury joins award winning design with sophisticated conceirge, connecting you to a lifestyle of exclusive access and unparalleled elegance.
        </p>
        <div class="apt-section-button">
          <button>Schedule a Showing</button>
          <button>View Availability</button>

        </div>
      </div>
    </div>
  </div>
  <div class="sticky-footer">
    <p>click to scroll</p>
  </div>

  <div class="apt-body" id="amenities">
    <div class="apt-section-content-wrap">
      <div class="apt-section-content">
        <h1 class="apt-section-title"> Stunning Amenities </h1>
        <p> the exclusive, 10,000 square foot Sky Lounge joins an extraordinary ensemble of amenities designed to rejuvinate and relax. Panoramic views of the Puget Sound & Olympic Mountains set the atmosphere for a variety of gathering spaces, effortlessly transforming hosted occasions into unforgettable experiences above the skyline.
        </p>
        <div class="apt-section-button">
          <button>Discover More</button>
        </div>
      </div>
    </div> 
  </div>

  <div class="apt-body" id="interior">
        <div class="apt-section-content-wrap">
          <div class="apt-section-content">
            <h1 class="apt-section-title"> Designer Interiors </h1>
            <p>An intrinsic connection to the Northwest's natural beauty inspires prominent stone finishes and floor-to-ceiling windows, seamlessly blending majestic scenery with refined modern interiors.</p> 
            <p>In complimenting nearly any decor concept, eight designer finish packages represent a range of textures and impressions, from stately oak details in city-facing studios to exposed granite accents in Sound view suites.<br><br>
            </p>
            <div class="apt-section-button">
              <button>Virtual Tour & Photo Gallery</button>
            </div>
          </div>
        </div>
  </div>
  <%- include('../views/components/html/html-footer.ejs') %>
</body>