<%- include('../views/head.ejs') %>
    <body>
     <nav class="nav-links">
      <ul>
       <li><a href="/">Home</a></li>
      </ul>
     </nav>
     <header>
      <div class="header-content">
       <h1> Michael Lyon </h1>
       <h3> Technical Copy Writer </h3>
       <form action="/search" method="post">
         <input type="text" name="search" placeholder="Search Michael's Work" required>
         <button type="submit">Search</button>
       </form>
      </div>
     </header>
        <main>
            <section class="intro">
             Michael Lyon's Resume Page begins here
            </section>

            <h2>Examples & Work Snippets</h2>
            <section class="headline">
                
                <figure>
                    <h3>Example 1</h3>
                    <img src="https://via.placeholder.com/150">
                    <p>Caption</p>
                    <ul>
                        <li>Ariel Pink</li>
                        <li>Animal Collective</li>
                        <li>Ghostface Killah</li>
                        <li>Ariana Grande</li>
                        <li>The Beach Boys</li>
                        <li>Miles Davis</li>
                    </ul>
                </figure>
                <figure>
                    <h3>Example 2</h3>
                    <img src="https://via.placeholder.com/150">
                    <p>Caption</p>
                    <ul>
                        <li>Ariel Pink</li>
                        <li>Animal Collective</li>
                        <li>Ghostface Killah</li>
                        <li>Ariana Grande</li>
                        <li>The Beach Boys</li>
                        <li>Miles Davis</li>
                    </ul>
                </figure>
                <figure>
                    <h3>Example 3</h3>
                    <img src="https://via.placeholder.com/150">
                    <p>Caption</p>
                    <ul>
                        <li>Ariel Pink</li>
                        <li>Animal Collective</li>
                        <li>Ghostface Killah</li>
                        <li>Ariana Grande</li>
                        <li>The Beach Boys</li>
                        <li>Miles Davis</li>
                    </ul>
                </figure>
                
            </section>
        </main>
    </body>
</html>