<%- include('../views/head.ejs') %>
    <body>
      <div class="wrapper">
        <%- include('../views/nav.ejs') %>
        <header>
          <div class="header-content">
            <h1 id="main-title"> Michael Lyon </h1>
            <h3 id="main-subtitle"> Content Creator & Web Developer </h3>
          </div>
        </header>
        <%- include('../views/resume.ejs') %>
      </div>
    </body>
</html>