<%- include('../views/head.ejs') %>
    <body>
      <div class="wrapper">
        <%- include('../views/header.ejs') %>
          <%- include('../views/resume.ejs') %>
          <div class="desktop-display">
            <%- include('../views/nav-home.ejs') %>
          </div>
      </div>
    </body>
</html>