<%- include('../views/components/html/html-head.ejs') %>
    <body class="main-body">
      <div class="wrapper">
       <!-- Title & Header -->
        <%- include('../views/content-header.ejs') %>
       <!-- Content -->
        <%- include('../views/main-content.ejs') %>
      </div>
      <%- include('../views/components/html/html-footer.ejs') %>
    </body>
</html>