<%- include('../views/head.ejs') %>
    <body>
        <%- include('../views/nav.ejs') %>
     <header>
      <div class="header-content">
       <h1 id="main-title"> Michael Lyon </h1>
       <h3 id="main-subtitle"> Content Creator & Technical Copy Writer </h3>
       <div class="menu-buttons">
           <form action="/resume" method="GET">
               <button type="submit">Resume</button>
           </form>
           <form action="/CVV" method="GET">
            <button type="submit">Cover Letter</button>
           </form>
           <form action="/nba" method="GET">
             <button type="submit">Cool Code</button>
           </form>
       </div>
      </div>
    </header>
    </div>
        <!-- <main>

            <section class="overview">
                <figure>
                    <h3>Example 1</h3>
                    <img src="https://via.placeholder.com/150">
                    <p>Caption</p>
                    <ul>
                        <li>Ariel Pink</li>
                        <li>Animal Collective</li>
                        <li>Ghostface Killah</li>
                        <li>Ariana Grande</li>
                        <li>The Beach Boys</li>
                        <li>Miles Davis</li>
                    </ul>
                </figure>
                <figure>
                    <h3>Example 2</h3>
                    <img src="https://via.placeholder.com/150">
                    <p>Caption</p>
                    <ul>
                        <li>Ariel Pink</li>
                        <li>Animal Collective</li>
                        <li>Ghostface Killah</li>
                        <li>Ariana Grande</li>
                        <li>The Beach Boys</li>
                        <li>Miles Davis</li>
                    </ul>
                </figure>
                <figure>
                    <h3>Example 3</h3>
                    <img src="https://via.placeholder.com/150">
                    <p>Caption</p>
                    <ul>
                        <li>Ariel Pink</li>
                        <li>Animal Collective</li>
                        <li>Ghostface Killah</li>
                        <li>Ariana Grande</li>
                        <li>The Beach Boys</li>
                        <li>Miles Davis</li>
                    </ul>
                </figure>
                
            </section>
        </main> -->
    </body>
</html>