<%- include('../views/head.ejs') %>
    <body>
      <div class="wrapper">
          <%- include('../views/nav.ejs') %>
            <%- include('../views/header.ejs') %>
            <img src='https://media.giphy.com/media/39C9uBv4xnpdU7ikLy/giphy.gif' class="header-img"></img>
            <img src="/assets/icons/hey-baby.png" class="header-img" id="header-img-title"></img>
              <%- include('../views/resume.ejs') %>
      </div>

      <!-- <div class="footer">
        <footer>
          <p>Thanks for Visiting</p>
          <p><a href="#">Resume</a></p>
        </footer>
      </div> -->

    </body>
</html>