<div class="map">
  <div class="labels">
    <div id="label1" class="label">
      Kenyan
    </div>
    <div id="label2" class="label">
      Ethiopian
    </div>
    <div id="label3" class="label">
      Burundian
    </div>
    <div id="label4" class="label">
      Ugandan
    </div>
    <div id="label5" class="label">
      Kenyan 2
    </div>
  </div>
	<div class="dialog">
		<p></p>
		<a class="close">X</a>
	</div>
  <img src="/assets/icons/sudamerika.png">
</div>

