<%- include('../views/head.ejs') %>
<body>
 <%- include('../views/nav.ejs') %>
 <div class="resume-body">
  <div class="l-Section-content">
    <h1 class="Title">For Mom: Happy Mother's Day</h1>
    <p>
      I am lucky to call you my mom. I appreciate your ongoing support over these last few years and can't wait to show you what's next. I unearthed this photo of us from back in the Barton Creek days and just had to share. I loved growing up in your house.
     </p>
     <p>
      The natural science museum in San Francisco is a place we have to visit. On some nights they serve booze. The butterflys are especially incredible after some drinks. Hopefully I can land a job in San Francisco and we can visit together.  
     </p>
     <p>
       I hope you're having the best day today. I love you and miss you. 
     </p>
   </div>
   <img src="../styles/img/mom.jpg">
 </div>
</body>
</html>