<section class="nav-menu-ul">
  <div class="nav-menu-ul-container">
    <nav>
      <ul>
        
        <li><a href="#" class="li-underline" id="target1">
          <span>Portfolio</span></a></li>

          <div class="link-display" id ="hash1">
            <div class="link-row">
              <li><a href="/skyscraper" class="li-underline">
                <span>Skyscraper</span></a></li>
              <li><a href="/retail-spa-r" class="li-underline">
                <span>Spa</span></a></li>
              <li><a href="/retail-spa" class="li-underline">
                <span>Club</span></a></li>
              <li><a href="/product" class="li-underline">
                <span>Speakers</span></a></li>
              <li><a href="/product-s" class="li-underline">
                <span>Sneakers</span></a></li>
            </div>
          </div>

        <li><a href="/assets/docs/Resume.pdf" class="li-underline">
          <span>Résumé</span></a></li>
                    
        <!-- <li><a href="#" class="li-underline" id="target2">
          <span>Social Media</span></a></li> -->

          <div class="link-display" id ="hash2">
            <div class="link-row">
              <li><a href="https://www.instagram.com/grocery_ig/" class="li-underline">
                <span>grocery_ig </span></a></li>
              <li><a href="https://www.instagram.com/happy_vinyl/" class="li-underline">
                <span>happy_vinyl </span></a></li>
            </div>
          </div>

        <li><a href="#" class="li-underline" id="target3">
          <span>About Me</span></a></li>
          <div class="link-display" id ="hash3">
            <div class="link-row">
              <li><a href="#" id="favorites-link" class="li-underline">
                <span>Good Stuff</span></a></li>
            </div>
          </div>      
      </ul>
    </nav>
  </div>
  <div class="nav-menu-img-container" id="box1">
    <a href="/skyscraper">
      <span class="image-label" id="label1">Skyscraper</span>
      <img src="../assets/images/apt-exterior.jpg">
    </a>
  </div>
  <div class="nav-menu-img-container" id="box2">
    <a href="/retail-spa">
      <span class="image-label" id="label2">Spa</span>
      <img src="../assets/images/ritual-thumb.jpg">
    </a>
  </div>
  <div class="nav-menu-img-container" id="box3">
    <a href="/product">
      <span class="image-label" id="label3">Speakers</span>  
      <img src="../assets/images/speaker-thumb.jpg">
    </a>
  </div>
  <div class="nav-menu-img-container" id="box4">
    <a href="/product-s">
      <span class="image-label" id="label4">Sneakers</span>
      <img src="../assets/images/mono-thumb.jpg">
    </a>
  </div>
  <div class="nav-menu-img-container" id="box5">
    <a href="/retail-spa-r">
      <span class="image-label" id="label5">Spa</span>
      <img src="../assets/images/salt-thumb.jpg">
    </a>
  </div>
</section>

<div class="display-on-click" id="favorites-display">
    <%- include('../views/content-ul.ejs') %>
</div>