<nav class="nav-links">
  <a href="https://www.github.com/lyoncodes" target="_blank">GITHUB</a>
  <a href="https://www.linkedin.com/in/lyoncodes" target="_blank">LINKEDIN</a>
  <a href="/credit" target="_blank">CREDITS</a>
</nav>