<nav class="nav-links">
  <a href="/portfolio">Work</a>
  <a href="https://www.github.com/lyoncodes" target="_blank">Github</a>
  <a href="https://www.linkedin.com/in/lyoncodes" target="_blank">LinkedIn</a>
</nav>