<div class="l-Section-content" id="intro-paragraph">
  <p> I craft meaningful messages for relevant audiences, helping clients achieve their objectives by reaching the people that matter most. Across digital platforms I create content rich in tone, voice, and narrative.<br><br> My experience includes developing brand strategy for startup companies, managing social media accounts, and drafting communications for commerical real estate organizations. </p>
</div>