<section>
    <div class="l-Section-content mobile-display">
      <div class="portfolio">

        <a href="https://www.codewars.com/users/meanx">Work Samples</a>
        <a href="https://www.codewars.com/users/meanx" class="gif-a">
          <img src="https://media.giphy.com/media/2A6ZQymBGJjtvLpfM0/giphy.gif">
        </a>

        <a href="/assets/cvv/Resume.pdf" download=""class="portfolio-nav">Resume</a>
        <a href="/assets/cvv/Resume.pdf" download="" class="gif-a">
          <img src="https://media.giphy.com/media/kaI4cH0HttSCpxtUub/giphy.gif">
        </a>

        <a href="/social">Social Media</a>
        <a href="/social" class="gif-a">
          <img src="https://media.giphy.com/media/Up1hVn9raCuuCtS29l/giphy.gif">
        </a>

      </div>
    </div>

    <div class="l-Section-content desktop-display">
      <div class="portfolio">

        <a href="https://www.codewars.com/users/meanx">Work Samples
        <img src="https://media.giphy.com/media/2A6ZQymBGJjtvLpfM0/giphy.gif"></img></a>

        <a href="/assets/cvv/Resume.pdf" download="">Resume
        <img src="https://media.giphy.com/media/kaI4cH0HttSCpxtUub/giphy.gif"></img></a>
        <a href="/portfolio">Social Media
        <img src="https://media.giphy.com/media/Up1hVn9raCuuCtS29l/giphy.gif" id="social-media"></img></a>
      </div>
    </div>
</section>
