<section>
    <div class="l-Section-content portfolio-mobile">
      <div class="portfolio">
        <a href="https://www.codewars.com/users/meanx">Work Samples</a>
        <img src="https://media.giphy.com/media/2A6ZQymBGJjtvLpfM0/giphy.gif">
        <a href="/assets/cvv/Resume.pdf" download="" id="resume-link">Resume</a>
        <img src="https://media.giphy.com/media/kaI4cH0HttSCpxtUub/giphy.gif">
        <a href="https://www.instagram.com/meanchael/?hl=en" id="social-media-link">Social Media</a>
        <img src="https://media.giphy.com/media/Up1hVn9raCuuCtS29l/giphy.gif" id="social-media">
    </div>

    <div class="l-Section-content portfolio-desktop">
      <div class="portfolio">
        <img src="https://media.giphy.com/media/2A6ZQymBGJjtvLpfM0/giphy.gif" id="desktop-img-first">
        <img src="https://media.giphy.com/media/kaI4cH0HttSCpxtUub/giphy.gif">
        <img src="https://media.giphy.com/media/Up1hVn9raCuuCtS29l/giphy.gif" id="social-media">
      </div>
</section>

<section class="portfolio-desktop">
  <div class="l-Section-content">
    <div class="portfolio">
        <a href="https://www.codewars.com/users/meanx">Work Samples</a>
        <a href="/assets/cvv/Resume.pdf" download="">Resume</a>
        <a href="https://www.instagram.com/meanchael/?hl=en">Social Media</a>
    </div>
  </div>
</section>