<section>
    <div class="l-Section-content mobile-display">
      <div class="portfolio">

        <a href="/samples" class="gif-a">
        <a href="/samples">work samples</a>
          <img src="https://media.giphy.com/media/2A6ZQymBGJjtvLpfM0/giphy.gif">
        </a>

        <a href="/assets/cvv/Resume.pdf" download=""class="portfolio-nav">resume</a>
        <a href="/assets/cvv/Resume.pdf" download="" class="gif-a">
          <img src="https://media.giphy.com/media/kaI4cH0HttSCpxtUub/giphy.gif">
        </a>

        <a href="/social">social media</a>
        <a href="/social" class="gif-a">
          <img src="https://media.giphy.com/media/Up1hVn9raCuuCtS29l/giphy.gif">
        </a>

      </div>
    </div>

    <div class="l-Section-content desktop-display">
      <div class="portfolio">

        <a href="/samples" class="nav-links">Work Samples
        <img src="https://media.giphy.com/media/2A6ZQymBGJjtvLpfM0/giphy.gif"></img></a>

        <a href="/assets/cvv/Resume.pdf" class="nav-links" download="">Resume
        <img src="https://media.giphy.com/media/kaI4cH0HttSCpxtUub/giphy.gif"></img></a>
        <a href="/social" class="nav-links">Social Media
        <img src="https://media.giphy.com/media/Up1hVn9raCuuCtS29l/giphy.gif" id="social-media"></img></a>
      </div>
    </div>
</section>
