<div class="Section">
 <h4 class="section-title">PROJECT PORTFOLIO</h4>
   <div class="l-Section-content">
     <button class="menu-buttons"><strong class="Tag">
      SAMPLE 1 
     </strong></button>
     <button class="menu-buttons"><strong class="Tag">
      SAMPLE 2 
    </strong></button>
    <button class="menu-buttons"><strong class="Tag">
      SAMPLE 3
   </strong></button>
   </div>
</div>