<section>
    <div class="l-Section-content">
      <div class="sample">
        <img src="https://media.giphy.com/media/2A6ZQymBGJjtvLpfM0/giphy.gif">
        <a href="https://www.codewars.com/users/meanx">Work Samples</a>
      </div>
      
      <div class="sample">
        <img src="https://media.giphy.com/media/kaI4cH0HttSCpxtUub/giphy.gif">
        <a href="/assets/cvv/Resume.pdf" download="">Resume</a>
      </div>
      
      <div class="sample">
        <img src="https://media.giphy.com/media/Up1hVn9raCuuCtS29l/giphy.gif" id="social-media">
        <a href="https://www.instagram.com/meanchael/?hl=en">Social Media</a>
      </div>
    </div>
</section>