<section>
  <h4>PROJECT PORTFOLIO</h4>
    <div class="l-Section-content">
      <button><strong class="Tag">SAMPLE 1</strong></button>
      <button><strong class="Tag">SAMPLE 2</strong></button>
      <button><strong class="Tag">SAMPLE 3</strong></button>
   </div>
</section>