<div class="main-content">
  <div class="product-card">
    <h1>SNEAKER PEOPLE</h1>
    <h1>X</h1>
    <h1>MONO GONZALEZ</h1>

    <h2>Buen Dia Low</h2>
    <h2>$189.99</h2>

    <div class="addToCartRow">
      <input class="product-qty" href="#" type="tel" value="1" maxlength="2" pattern="^[0-9]"></input>
      <a class="product-btn" href="#">Add to Cart</a>
    </div>
   
    <div class="product-story">
      <p> Sneaker People collaborates with Chilean muralist Mono Gonzalez to imagine a shoe inspired by the street art of Valparaiso. <br><br> 
      Home to a  multi-generational graffiti movement, Valpo's 43 "Cerros" (hilly neighborhoods) are tapestries of murals and mosaics. In designing his own sneaker, Mono captures the aesthetics of these urban-scapes with bold graphics woven into multi-textured uppers.<br><br>
      Beloved by locals for their robust colors and flowing lines, Mono's works carry unrivaled panache. His signature style appears in the Dia's striking red accents and radical silhouette, giving the sneaker an iconic Valpo flair. With its distinct shape, the artist wanted to represent the progressive attitudes of the city's next generation of creatives. <br><br>
      The Buen Dia will be available in San Francisco stores and online 12/1/2019
    </p>
      </div>
    <!-- <div class="productIcons-list">
      <div class="productIcon">
        <img src="/assets/icons/bluetooth.png" class="productIcon-image">
        <span class="productIcon-title">
          Bluetooth Wireless Technology
        </span>
      </div>
      <div class="productIcon">
          <img src="/assets/icons/battery.png" class="productIcon-image">
          <span class="productIcon-title">
            8-Hour Battery Life
          </span>
        </div>
      <div class="productIcon">
        <img src="/assets/icons/water.png" class="productIcon-image">
        <span class="productIcon-title">
          IPX7 Waterproofing
        </span>
      </div>
      <div class="productIcon">
          <img src="/assets/icons/carbonFiber.png" class="productIcon-image">
          <span class="productIcon-title">
            Carbon Fiber Shell
          </span>
      </div>
      <div class="productIcon">
          <img src="/assets/icons/charging.png" class="productIcon-image">
          <span class="productIcon-title">
            External Device Charging
          </span>
        </div>
        <div class="productIcon">
            <img src="/assets/icons/volume.png" class="productIcon-image">
            <span class="productIcon-title">
              Track & Volume Control
            </span>
          </div>
        <div class="productIcon">
          <img src="/assets/icons/feather.png" class="productIcon-image">
          <span class="productIcon-title">
            1-lb Total Weight
          </span>
        </div>
    </div> -->
  </div>
  <div class="product-img">
    <img class="profile-picture" src="/assets/icons/sneaker.jpg">
    <img class="profile-picture" src="/assets/icons/sneaker2.jpg">

  </div>
</div>