<%- include('../views/components/html/html-head.ejs') %>
<body>
 <div class="sp-body">
   <div class="sp-heading">
     <h1>RITUAL</h1>
     <h2>spa</h2>
   </div>
   <div class="sp-panel">
     <!-- panel img  -->
   </div>
 </div>
 <!-- <div class="sp-body">
    <div class="sp-heading" id="sp-service">
      <h1>Services</h1>
      <div class="sp-menu-container">
        <ul>
          <li class="sp-li-underline"><h2><a class="sp-a" id="section1">Beauty</a></h2></li>
          <li class="sp-li-underline"><h2><a class="sp-a" id="section2">Steam</a></h2></li>
          <li class="sp-li-underline"><h2><a class="sp-a" id="section3">Bath</a></h2></li>
          <li class="sp-li-underline"><h2><a class="sp-a" id="section4">Massage</a></h2></li>
        </ul>
      </div>
    </div>
    <div class="sp-panel" id="panel1"></div>  
    <div class="sp-card" id="card1">
      <h2>Facials</h2>
        <div class="sp-title">45 -or- 90 Minutes</div>
            <div class="sp-copy">
              A seamless blend of techniques soothes the shoulders, neck, and back, with lavender & rosemary infused oils promoting natural sensations.
            </div>
        <button class="sp-button">$70/90</button>
      
      <h2>Scrubs</h2>
        <div class="sp-title">45 -or- 90 Minutes</div>
            <div class="sp-copy">
              A seamless blend of techniques soothes the shoulders, neck, and back, with lavender & rosemary infused oils promoting natural sensations.
        </div>
        <button class="sp-button">$70/90</button>

      <h2>Wraps</h2>
        <div class="sp-title">45 -or- 90 Minutes</div>
            <div class="sp-copy">
              A seamless blend of techniques soothes the shoulders, neck, and back, with lavender & rosemary infused oils promoting natural sensations.
        </div>
        <button class="sp-button">$70/90</button>

    </div>

    <div class="sp-card" id="card2">b</div>
    <div class="sp-card" id="card3">c</div>
    <div class="sp-card" id="card4">d</div>
  </div> -->
 <div class="card">
   <div class="card-wrapper card1">
    <div class="date">
      <span class="date-label month">
        <%= formattedDate[0] %>
      </span>
      <span class="date-label day">
        <%= formattedDate[1] %>
      </span>
      <span class="date-label year">
        <%= formattedDate[2] %>
      </span>
    </div>
    <div class="data">
      <div class="content">
        <span class="author">Jane Doe</span>
        <h1 class="card-title"><a href="#">
          Lorem Ipsum Title
        </a></h1>
        <p class="card-text">
          Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title Lorem Ipsum Title
        </p>
        <label for="show-menu" class="menu-button"><span></span></label>
      </div>
      <input type="checkbox" id="show-menu"/>
      <ul class="menu-content">
        <li>
          <a href="#" class="fa fa-bookmark-o"></a>
        </li>
        <li>
            <a href="#" class="fa fa-heart-o"></a>
        </li>
        <li>
            <a href="#" class="fa fa-comment-o"></a>
        </li>
      </ul>
    </div>
   </div>
 </div>
  <script src="/js/jquery/spa.js"></script>
</body>
