<%- include('../views/components/html/html-head.ejs') %>
<body id="spa-body">
    <%- include('../views/components/nav/fixed-nav.ejs') %>
  <div class="spa-head-container">
    <h1 id="a-main-spa-title">SALT</h1>
          <p class="a-lines"> 
            at SALT, we believe everyone deserves the magic of a spa day. so we built a temple in the name of treat-yourself and designed a thoughtful collection of services suited for all. 
          </p>
  </div>
    <!-- Image -->
    <div class="a-spa-image-wrap">
      
    </div>

    <!-- Services -->
    <h2 class="a-sp-subtitle">Service Gallore</h2>
    <div class="a-sp-container">
      <div class="sp-card">
        <!-- <img class="sp-img"src="/assets/icons/steam.png"></img> -->
        <div class="sp-info">
          <h2>Mocha Mask & Body Scrub</h2>
          <div class="a-sp-title">
            20 Minutes
          </div>
          <div class="a-sp-copy">
            Vitamin rich & packed with antioxidants, organic coffee scrub soothes tension and hydrates the skin for an all-over radiant glow. 
          </div>
        </div>
      <div class="sp-actions">
        <button class="a-sp-button">$25</button>
        <div class="sp-overlay"></div>
        <div class="a-sp-heart-container">
          <div class="a-sp-heart"></div>
        </div>
      </div>
      </div>
      <div class="sp-card">
          <!-- <img class="sp-img"src="/assets/icons/massage.png"></img> -->
        <div class="sp-info">
          <h2>Sweet-ish Massage</h2>
          <div class="a-sp-title">
            45 -or- 90 Minutes
          </div>
          <div class="a-sp-copy">
            A seamless blend of techniques soothes the shoulders, neck, and back, with lavender & rosemary infused oils promoting natural sensations.
          </div>
        </div>
      <div class="sp-actions">
        <button class="a-sp-button">$70/90</button>
        <div class="sp-overlay"></div>
        <div class="a-sp-heart-container">
          <div class="a-sp-heart"></div>
        </div>
      </div>
      </div>
      <div class="sp-card">
        <!-- <img class="sp-img"src="/assets/icons/spiral.png"></img> -->
        <div class="sp-info">
          <h2>Floatation Spa & Beauty Bath</h2>
          <div class="a-sp-title">
            45 Minutes
          </div>
          <div class="a-sp-copy">
            Dip into bliss with a trip to SALT's float pools, where weightless relaxation and tranquil lighting give you unlimited space to chill.
            
          </div>
        </div>
      <div class="sp-actions">
        <div class="sp-overlay"></div>
        <button class="a-sp-button">$70</button>
        <div class="a-sp-heart-container">
          <div class="a-sp-heart"></div>
        </div>
      </div>
      </div>
      <div class="sp-card">
        <!-- <img class="sp-img"src="/assets/icons/bathTwo.png"></img> -->
        <div class="sp-info">
          <h2>Pumpkin Peel and Balm Treatment</h2>
          <div class="a-sp-title">
            90 Minutes
          </div>
          <div class="a-sp-copy">
            Embrace the power of the pumpkin with a facial treatment that tames flare ups and boosts cellular health for a baby-soft complexion.
          </div>
        </div>
      <div class="sp-actions">
        <button class="a-sp-button">$35</button>
        <div class="sp-overlay"></div>
        <div class="a-sp-heart-container">
          <div class="a-sp-heart"></div>
        </div>
      </div>
      </div>
  </div>
  <!-- Banner ads -->
  <h2 class="a-sp-subtitle">Mobile Banner Ads</h2>
  <div class="a-sp-container">
    <img src="/assets/banners/salt_banner_1.jpg">
    <img src="/assets/banners/salt_banner_2.jpg">
    <img src="/assets/banners/salt_banner_3.jpg">
  </div>
  <script src="../js/jquery/spa-s.js"></script>
</body>
