<%- include('../views/head.ejs') %>
<body>
  <%- include('../views/nav.ejs') %>
  <div class = "resume-body">
    <h1 class = "Title">Michael Lyon</h1>
    <span class="Title-sub">Technical and Copy Writer</span>

      <div class="l-Section-content">
        <p>Lorem Ipsum Tag Line Hire Me Coach I do it All! Lorem Ipsum Tag Line Hire Me Coach I do it All! Lorem Ipsum Tag Line Hire Me Coach I do it All! Lorem Ipsum Tag Line Hire Me Coach I do it All!</p>
      </div>


  <%- include('../views/skills.ejs') %>
  </div>
</body>
</html>