  <div class="resume-body">
      <div class="l-Section-content">
        <p> I create meaningful content for relevant audiences, helping clients achieve their objectives by reaching the people that matter most. I respond to evolving challenges and thrive in fast-paced environments. </p>
      </div>
    <%- include('../views/skills.ejs') %>
    <%- include('../views/experience.ejs') %>
  </div>
  <%- include('../views/contact.ejs') %>
</body>
</html>