<%- include('../views/head.ejs') %>
<body>
  <%- include('../views/nav.ejs') %>
  <div class = "resume-body">
    <h1 class = "Title">Professional Resume</h1>
      <div class="l-Section-content">
        <p> I offer exceptional written and verbal communications, with demonstrated proficiency reaching target audiences through print messaging and digital media. I have years of project management experience and have coordinated communications for a variety of stakeholders and clients. I'd love to talk about how I can add value to your orginzation through my creative problem solving.</p>
      </div>
    <%- include('../views/skills.ejs') %>
    <%- include('../views/experience.ejs') %>
  </div>
</body>
</html>