  <div class="resume-body">
      <div class="l-Section-content">
        <p> I create meaningful content for relevant audiences, crafting messages that help achieve client objectives. I respond to evolving challenges and thrive in fast-paced environments. Across a variety of platforms I help deliver authentic content backed by tone, voice, and narrative.</p>
      </div>
    <%- include('../views/skills.ejs') %>
    <%- include('../views/experience.ejs') %>
  </div>
  <%- include('../views/contact.ejs') %>
</body>
</html>