<%- include('../views/head.ejs') %>
<body>
  <%- include('../views/nav.ejs') %>
  <div class = "resume-body">
    <h1 class = "Title">Michael Lyon</h1>
    <span class="Title-sub">Technical and Copy Writer</span>
      <div class="l-Section-content">
        <p>Lorem Ipsum Tag Line Hire Me Coach I do it All! Lorem Ipsum Tag Line Hire Me Coach I do it All! Lorem Ipsum Tag Line Hire Me Coach I do it All! Lorem Ipsum Tag Line Hire Me Coach I do it All!</p>
      </div>
    <%- include('../views/skills.ejs') %>
    <section class="Section">
      <h4 class="section-title">Experience</h4>
      <div class="l-Section-content">
        <h4 class="section-title">Blanton Turner</h4>
        <span class="Title-sub">Seattle, WA | 2016 - Present</span>
          <ul>
            <h4 class="section-title">Assistant Property Manager</h4>
              <ul class="sub-list">
                <li>Coordinated communications for commerical and residential real estate projects, including multi-phase construction improvements and insurance-loss reconcilliations</li>
                <li>Developed marketing materials for apartment advertisements and building promotions, with demonstrated results in leasing and tenant retention</li>
                <li>Contributed actionable insights to large-scale projects across multi-vertical fields of building maintenance and improvement, including large-scale remodels and green-building system repairs</li>
                <li>Delivered weekly reports and variance reports to building ownership</li>
              </ul>
            <h4 class="section-title">Flex-Team Leasing Manager</h4>
                <ul class="sub-list">
                  <li>Extends Blanton Turner brand across company’s property portfolio, providing site level assistance on marketing campaigns and leasing tasks</li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </li>
              <li>
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </li>
          </ul>
        </div>
    
    </section>
  </div>
</body>
</html>