<%- include('../views/head.ejs') %>
<body>
 <div class="wrapper">
  <%-  include('../views/nav.ejs') %>

  <section>
   <div class="l-Section-content">
    <h4>Coming in July!</h4>
    <a href="/">Go Back Home</a>
    
    <h4>Podcast</h4>
  <div class="audio-wrapper">
      <audio controls src="" type="audio/mp3"></audio> 
  </div>

   </div>
  </section>
 </div>
</body>
</html>