<div class="resume-body">
 <h1 class = "Title">Guest Book</h1>
  <p> Guest Book was created to assist real estate professionals with managinging walk-in appointments. Using postgres db and simple form actions, this tool just keeps track of what's entered in the fields and organizes the data in SQL. This code can easily be retrofitted to create shopping carts & form entries.</p>
</div>

<header>
 <form action="/save" method="POST">
  <input type="text" name="Save Guest" placeholder="Enter Name" required>
 <form action="/save" method="POST">
  <button type="submit">Save Guest</button>
 </form>
</header>