<div class="Section">
  <h4 class="section-title">SKILLS & QUALIFICATIONS</h4>
    <div class="l-Section-content">
       <ul>
          <li><strong class="Tag">B.A. ENGLISH, </strong> University of Oregon (2009)</li>
          <li>Exceptional <strong class="Tag">COPY WRITING</strong> and <strong class="Tag"> COMMUNICATIONS SKILLS</strong></li>
          <li><strong></strong>Proficient in <strong class="Tag">JAVASCRIPT, </strong><strong class="Tag"> HTML,</strong> and <strong class="Tag"> CSS</strong> </li>
          <li>Experience in <strong class="Tag">PRINT MARKETING </strong> and <strong class="Tag">DIGITAL MEDIA CAMPAIGNS</strong></li>
          <li>Excellent <strong class="Tag">COLLABORATOR</strong>, adept at <strong class="Tag">COMMUNICATING ACROSS TEAMS</strong></li>

          <li>Familiar with <strong class="Tag">MOBILE FIRST DESIGN</strong> and <strong class="Tag">RESPONSIVE WEB LAYOUTS</strong></li>
       </ul>
    </div>
  </div>

