<section class="Section">
  <h4 class="section-title">Skills</h3>
    <div class="l-Section-content">
      <ul>
        <li>Skilled copy writer with a <strong class="Tag">knack for delivering the right message to the right audience</strong></li>
        <li>Dynamic content creator practiced in <strong class="Tag">print marketing</strong> and <strong class="Tag">digital media campaigns</strong></li>
        <li>Excellent <strong class="Tag">public speaker</strong>, adept at <strong class="Tag">organizing information</strong> and <strong class="Tag">prompting audience engagement</strong></li>
        <li>Experience creating web applications using <strong class="Tag">Node.js,</strong><strong class="Tag"> JavaScript,</strong><strong class="Tag">  HTML,</strong><strong class="Tag"> CSS</strong> </li>
        <li>Proficient with <strong class="Tag">GitHub</strong>, <strong class="Tag"> Version Control</strong>, <strong class="Tag"> and Package Managers</strong></li>
        <li>Familiar with <strong class="Tag">Mobile First</strong> approach and <strong class="Tag">Responsive Web Development</strong></li>
      </ul>
    </div>
</section>
