<section class="Section">
  <h4 class="section-title">Skills</h3>
    <div class="l-Section-content">
      <ul>
        <li>Skilled copy writer with a <strong class="Tag">knack for delivering the right message to the right audience</strong></li>
        <li>In-depth experience with <strong class="Tag">Real Estate marketing</strong> and <strong class="Tag">Property Management communications</strong></li>
        <li><strong class="Tag">Dynamic presentation skills</strong> and<strong class="Tag">eager public speaker</strong></li>
        <li>Experience creating web applications using<strong class="Tag">Node.js,</strong><strong class="Tag"> HTML,</strong><strong class="Tag"> CSS</strong> </li>
        <li>Proficient with <strong class="Tag">GitHub</strong>, <strong class="Tag"> Version Control</strong>, <strong class="Tag"> and Package Managers</strong></li>
        <li>Familiar with <strong class="Tag">Mobile First</strong> approach and <strong class="Tag">Responsive Web Development</strong></li>
      </ul>
    </div>
</section>
