<section id="skills" class="portfolio-mobile">
  <h4>SKILLS & QUALIFICATIONS</h4>
    <div class="l-Section-content">
       <ul>
          <li><strong class="Tag">B.A. ENGLISH, </strong> University of Oregon (2009)</li>

          <li>practiced <strong class="Tag">COPY WRITER</strong> that finds the right <br> words for your audience</li>

          <li><strong></strong>Proficient in <strong class="Tag">JAVASCRIPT, </strong><strong class="Tag"> HTML,</strong> and <strong class="Tag"> CSS</strong> </li>

          <li>Excellent <strong class="Tag">COLLABORATOR</strong> that likes to <strong class="Tag">HAVE FUN</strong> and <strong class="Tag">LAUGH</strong></li>

          <li>Familiar with <strong class="Tag">MOBILE FIRST DESIGN</strong> and <strong class="Tag">RESPONSIVE WEB LAYOUTS</strong></li>
       </ul>
    </div>
</section>

