<section class="Section">
  <h4 class="section-title">Skills</h4>
    <div class="l-Section-content">
      <ul>
        <li>Proficient in <strong class="Tag"> JavaScript,</strong><strong class="Tag">  HTML,</strong><strong class="Tag"> and CSS</strong> </li>
        <li>Practiced in <strong class="Tag">print marketing</strong> and <strong class="Tag">digital media campaigns</strong></li>
        <li>Excellent <strong class="Tag">public speaker</strong>, adept at <strong class="Tag">organizing information</strong> and <strong class="Tag">prompting audience engagement</strong></li>
        <li>Familiar with <strong class="Tag">GitHub</strong>, <strong class="Tag"> Version Control</strong>, <strong class="Tag"> and Package Managers</strong></li>
        <li>Familiar with <strong class="Tag">Mobile First</strong> approach and <strong class="Tag">Responsive Web Development</strong></li>
      </ul>
    </div>
</section>
