<%- include('../views/head.ejs') %>
<body>
 <div class="wrapper">
  <%-  include('../views/nav.ejs') %>

  <section>
   <div class="l-Section-content">
    <h4>Social Media</h4>
   </div>
  </section>

  <div class="main-content">
   <a href="/facebook">
    <div class="card">
     <h4>Greenfire Campus</h4>
     <span>Lorem Ipsum Brain Splatter</span>
    </div>
   </a>

   <div class="card">
     <h4>grocery_ig</h4>
     <span>Lorem Ipsum Brain Splatter</span>
    </div>

    <div class="card">
      <h4>record_ig</h4>
      <span>Lorem Ipsum Brain Splatter</span>
     </div>
  </div>


 </div>
</body>
</html>