  <h1 id="main-spa-title">RITUAL</h1>
      <p class="lines" id="lines"> 
        steeped in the traditions of greek and turkish baths, RITUAL spa skillfully curates the elements of water and heat for a wellness experience far beyond ordinary. candle-lit enclaves of marble and stone invite you to indulge in bespoke seasonal treatments designed to invigorate the spirit and restore youth.

       
      </p>
  <div class="sp-container">
    <div class="sp-card">
      <img class="sp-img"src="/assets/icons/steam.png"></img>
      <div class="sp-info">
        <h2>Steam</h2>
        <div class="sp-title">
          180 minutes
        </div>
        <div class="sp-copy">
          Breathe like never before in RITUAL's Turkish Steam Rooms. Eucalyptus boughs release aromatic sensations in 115 degrees of moist heat.
        </div>
      </div>
    <div class="sp-actions">
      <button class="sp-button">SELECT</button>
      <!-- <div class="sp-overlay"></div> -->
      <div class="sp-heart-container">
        <div class="sp-title">$80</div>
      </div>
    </div>
    </div>
    <div class="sp-card">
        <img class="sp-img"src="/assets/icons/massage.png"></img>
      <div class="sp-info">
        <h2>Massage</h2>
        <div class="sp-title">
          60 Minutes
        </div>
        <div class="sp-copy">
          Harmonize body & mind with warm, hydrating argan oil and invigorating seasonal scents. Treatments include full-body exfoliation.
        </div>
      </div>
    <div class="sp-actions">
      <button class="sp-button">SELECT</button>
      <!-- <div class="sp-overlay"></div> -->
      <div class="sp-heart-container">
        <div class="sp-title">$125</div>
      </div>
    </div>
    </div>
    <div class="sp-card">
      <img class="sp-img"src="/assets/icons/spiral.png"></img>
      <div class="sp-info">
        <h2>Float</h2>
        <div class="sp-title">
          90 Minutes
        </div>
        <div class="sp-copy">
          Encounter the bliss of weightlessness in RITUAL's private float caves, where effortless suspension atop salt water awakens deep tranquility.
        </div>
      </div>
    <div class="sp-actions">
      <!-- <div class="sp-overlay"></div> -->
      <button class="sp-button">SELECT</button>
      <div class="sp-heart-container">
        <div class="sp-title">$110</div>
      </div>
    </div>
    </div>
    <div class="sp-card">
      <img class="sp-img"src="/assets/icons/bathTwo.png"></img>
      <div class="sp-info">
        <h2>Bath</h2>
        <div class="sp-title">
          90 Minutes
        </div>
        <div class="sp-copy">
          Limestone and marble baths set the atmosphere for 8 aquatic experiences, including thermal soaks, jet pools, and cold plunges.
        </div>
      </div>
    <div class="sp-actions">
      <button class="sp-button">SELECT</button>
      <!-- <div class="sp-overlay"></div> -->
      <div class="sp-heart-container">
        <div class="sp-title">$80</div>
      </div>
    </div>
    </div>
  </div>
