header{
   display: flex;
   align-content: center;
   justify-content: center;
   color: white;
   width: 100%;
   height: 450px;
}
.header-content{
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.overview {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 5px solid black;
    padding: 15px;
   }
/* Main + Section styling */
main {
    width: 100%;
    margin: 0 auto;
}
.resume-body {
    margin: 20px;
}
.l-Section-content {
    margin-top: 30px;
}
.Section {
    border-top: 1px solid lightblue;
}