header{
   display: flex;
   align-content: center;
   justify-content: center;
   color: white;
   width: 100%;
}
.header-content{
    text-align: center;
}
.overview {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 5px solid black;
    padding: 15px;
   }

/* Main + Section styling */
main {
    width: 100%;
    margin: 0 auto;
}

.l-Section-content {
    margin-top: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Section {
    border-top: 1px solid lightblue;
}

.resume-body {
    margin: 50px;
}
.resume-body img {
    max-height: 350px;
}

/* Media Queries */

@media screen and (max-width: 720px) {
    .resume-body {
        margin: 30px
    }
}
@media screen and (max-width: 630px) {
            .info {
                display: flex;
                flex-direction: column;
                text-align: center;
                line-height: 2em;
            }

}

/* CVV styling */
.cvv {
    margin: 25px 50px 25px;
}