/* Nav Link Layout */
.nav-links{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    line-height: 2.75em;
}
/*** MAIN TITLE & SUBTITLE LAYOUT ***/
header{
    text-align: center;
    width: 100%;
}
.header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*** SECTION CONTENT LAYOUT ***/
section{
    overflow: hidden;
}
 /* section ul and li */
 section ul{
  margin-left: 20px;
  margin-bottom: 27.9px;
  max-width: 88%;
 }
  section li{
    font-size: 16px;
    line-height: 2em;
    padding-bottom: 12px;
  }
 /* portfolio section grid layout */
 .portfolio{
    margin: 2em auto;
    width: 95%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 667px));
    grid-gap: 20px;
 }
  .desktop-display{
    display: none;
  }

/* section content image layout*/
 .l-Section-content img{
    width: 40%;
 }

 .l-Section-content p{
    margin: 30px 35px;
 } 

/*Contact Form Layout/Styling */
#contact-form{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2em;
}