/* Nav Link Layout */
.nav-links{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    line-height: 2.75em;
}
/*** MAIN TITLE & SUBTITLE LAYOUT ***/
header{
    align-content: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.header-img{
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Opening Paragraph Layout */
#intro-paragraph{
    margin: 30px;
}

/*** SECTION CONTENT LAYOUT ***/
section{
    overflow: hidden;
}
 /* section ul and li */
 section ul{
  margin-left: 20px;
  margin-bottom: 27.9px;
  width: 100%;
 }
  section li{
    font-size: 16px;
    line-height: 2em;
    padding-bottom: 12px;
  }

/* section content image layout*/
 .l-Section-content img{
    display: flex;
    justify-content: center;
    width: 25%;
    max-width: 25%;
    margin-left: 18%;
    max-height: 94px;
 }

 .l-Section-content p{
    margin-left: 1em;
 } 

/*Contact Form Layout/Styling */
#contact-form{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2em;
}

/*IPAD*/
