/* Form */
input, textarea, button, select{
  font-family: 'Josefin Sans', cursive;
  height: 50px;
  border: 0;
  margin-left: -3px;
}
header input{
 padding: 10px;
 width: 250px;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 border: 1px solid #5ca8df;
 transition: 0.3s;
}
header button{
   background-color: #c1ddf1;
   text-align: center;
   text-transform: uppercase;
   font-family: Lato;
   position: relative;
   overflow: hidden;
   margin: 10px;
   padding: 20px;
   width: 180px;
   color: white;
   border-radius: 1px;
}
header input[type="text"]:focus, header select:focus, header button:hover{
 background-color: black;
 color: #5ca8df;
 transition: 0.3s;
 border: none;
 outline: none;
}

.Tag {
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
  font-family: 'Josefin Sans', sans-serif;
}
.menu-buttons{
  border: 2px solid lightblue;
  border-radius: 2px;
  background: none;
  color: black;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 12px;
}

.nav-links{
  display: flex;
  justify-content: center;
  line-height: 2.75em;
  font-family: 'Josefin Sans', sans-serif;
}
.nav-links a{
  color: pink;
  text-decoration: none;
  padding: 20px;
}
.nav-links a:hover{
  color: #5ca8df;
}
