/* Form */
input, textarea, button, select{
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  border: 0;
  margin-left: -3px;
}
header input{
 padding: 10px;
 width: 250px;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 border: 1px solid #5ca8df;
 transition: 0.3s;
}
header button{
   background-color: #c1ddf1;
   text-align: center;
   text-transform: uppercase;
   font-family: Lato;
   position: relative;
   overflow: hidden;
   margin: 10px;
   padding: 20px;
   width: 180px;
   color: white;
   border-radius: 1px;
}
header input[type="text"]:focus, header select:focus, header button:hover{
 background-color: black;
 color: #5ca8df;
 transition: 0.3s;
 border: none;
 outline: none;

}
.Tag {
  color: #5ca8df;
  text-shadow: .5px .5px 0 pink;
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
}
.menu-buttons{
  margin-top: 35px;
  display: flex;
  justify-content: center

}
@media screen and (max-width: 589px) {
  .menu-buttons {
  flex-direction: column;
  }
}
.nav-links{
  display: flex;
  justify-content: center;
  line-height: 2.75em;
}
.nav-links a{
  color: pink;
  text-decoration: none;
  padding: 20px
}
.nav-links a:hover{
  color: #5ca8df;
}
