@import url('./layout.css');
@import url('./modules.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* {
 box-sizing: border-box;
}

body {
 margin: 0;
}

.intro {
 margin-top: 25%;
 text-align: center;
}

button{
    text-transform: uppercase; 
}

figure {
 width: calc(100%/3 - 10px);
 margin: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 3em;
    color: pink;
    text-shadow: 3px 3px #5ca8df;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2{
    font-size: 24pt;
    margin-top: 15px;
}

h3 {
    font-weight: bold;
    margin-top: 0px;
    color: #5ca8df;
    font-size: 18px;
}

h4 {
    font-size: 21px;
    text-align: center;
}


h5 {
    font-size: 14px;
}

.Title {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
a{
    text-decoration: none;
}
p {
    color: #5ca8df;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;

}
span{
    font-family: 'Josefin Sans', sans-serif;
}
label{
    font-family: 'Josefin Sans', cursive;
}

.l-Section-content {
    font-family: 'Josefin Sans', serif;
}
    /* Section content default button styling */
    .l-Section-content button{
        border: 2px solid lightblue;
        border-radius: 2px;
        background: none;
        color: black;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
        margin-top: 12px;
    }
    /* section content input styling*/
    .l-Section-content input{
        height: 2em;
        width: 50%;
        border-bottom: 2px solid lightblue;
        background-color: transparent;
        color: white;
        outline: none;
        font-size: .9em;
        text-align: left;
    }

/* Skills and Qualifications Section Styling */
#skills{
    background: #7bc8ffb2;
    margin-top: 2em;
}

/* CONTACT FORM */
.l-Section-content #contact-form {
    display: flex;
    justify-content: space-around;
    margin: auto;
    color: black;
}

textarea.form-text-area {
    height: 1em;
    width: 50%;
    border: 2px solid lightblue;
    background-color: transparent;
    font-size: .9em;
    color: white;
    margin-top: 2em;
    padding: 12.5px;
    border-radius: 1px;
    overflow-y: hidden; 
}

textarea.form-text-area:focus {
    height: 6em;
    border: 2px solid #10e3eb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#form{
    background: #4e80a3c4;
}

#contact-form-fields{
    margin-left: -45px;
}

/* SOCIAL MEDIA PAGE */

.card {
    padding: 1.5em 1em;
    border: 1px solid #10e3eb;
    border-radius: 0.25em;
    text-align: center;
}
.card h4 {
    font-family: 'Josefin Sans' sans-serif;
    color: pink;
    margin: 0;
    line-height: 1.25;
}
.portfolio-slide{
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 50%;
}
.main-content{
    margin: 2em auto;
    width: 95%;
    max-width: 1000px;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    grid-gap: 20px;
}

/******  MEDIA QUERIES ******/

/* IPAD */
@media screen and (min-width : 768px) and (max-width : 1024px) {

    .desktop-display{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .mobile-display{
        display:none;
    }

    /*  header image */
    .header-img{
        display: block;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
     #header-img-title{
        margin-top: -99px;
        margin-bottom: -25px;
        height: 8em;
        width: 45%;
     }

    /* l-Section-content */
    .l-Section-content p{
        margin-left: 25%;
        margin-right: 25%;
    }
    .l-Section-content img{
        display: flex;
        flex-direction: column;
        max-height: 100%;
        max-width: 23%;
        margin-left: 0px;
     }
    .l-Section-content a{
        display: block;
        text-align: center;
        text-decoration: none;
        margin-left: 40px;
        margin-right: 50px;
        margin-top: 6%;
        font-size: 24px;
        font-style: italic;
        color: #5ca8df;
      }
        /* Last Gif on Mobile Menu --FIX--*/
        #social-media{
            margin-top: 1em;
            margin-left: 0em;
            margin-bottom: 1em;
        }

    .portfolio{
        display: flex;
        flex-direction: row;
    }
    /* section ul and li */
    section ul{
        margin-left: 20%;
        margin-bottom: 27.9px;
        width: 100%;
    } 

}

/*DESKTOP*/
@media screen and (min-width : 1025px) {

/* BODY STYLING */
.wrapper{
    margin-bottom: 10em;
}    
/* HEADER CONTENT STYLINGß */
h1{
    font-size: 7em;
    color: pink;
    text-shadow: 3px 3px #5ca8df;
    margin-top: 0px;
    margin-bottom: 10px;
}
h3{
    font-weight: bold;
    margin-top: 0px;
    color: #5ca8df;
    font-size: 24px;
}
 /*  header image*/
    .header-img{
        display: block;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }
     #header-img-title{
        margin-top: -99px;
        margin-bottom: -25px;
        height: 8em;
        max-width: 45%;
     }

.desktop-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.mobile-display{
    display:none;
}
.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* l-Section-content */
    .l-Section-content p{
        margin-left: 30%;
        margin-right: 30%;
    }
    .l-Section-content img{
        display: flex;
        justify-content: center;
        width: 15%;
        margin-left: 0em;
    }
    /* Last Gif on Mobile Menu --FIX--*/
      #social-media{
        margin-top: 1em;
        margin-left: 2em;
      }
      #desktop-img-first{
          margin-right: 1em;
      }
    .l-Section-content a{
        display: flex;
        text-align: center;
        text-decoration: none;
        margin-top: 8%;
        font-size: 21px;
        font-style: italic;
        color: pink;
      }
      .portfolio a{
        margin-left: 1em;
        margin-right: 2em;
      }
}