@import url('./layout.css');
@import url('./modules.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* {
 box-sizing: border-box;
}
body {
 font-family: Lato, Helvetica, sans-serif;
 margin: 0;
}

main {
 padding: 20px;
}
.intro {
 margin-top: 25%;
 text-align: center;
}

figure {
 width: calc(100%/3 - 10px);
 margin: 15px;
}

h1{
    font-size: 84pt;
    color: pink;
    text-shadow: 3px 3px #5ca8df;
    margin-top: 0px;
    margin-bottom: 10px;
}
h2{
    font-size: 24pt;
    margin-top: 15px;
}
h3 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 75px;
    color: #5ca8df;
}
h4 {
    font-size: 18px;
}
 .section-title {
     margin-bottom: 8px;
 }
h5 {
    font-size: 14px;
}

.Title {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    #resTitle {
        text-align: center
    }
}

.Title-sub {
    font-size: 0.64em;
    letter-spacing: 0.16em;
    font-weight: 400;
    display: block
}
.sub-list {
    font-size: .90em;
    list-style-type: disc;
}
.sub-list li{
    margin-top: 4px;
}

.input-text-area {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 7.5em;
    width: 75%;
    height: 10em;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-color: pink;
}
/* CONTACT ME */
div.contact {
  margin-top: 5vw;
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 40vw;
  color: black;
  font-family: Lato, Helvetica, sans-serif;

}

.info {
    float: right;
    margin-left: 15px;
    color: black;
}

input.form-input {
    border: none;
    border-bottom: 4.5px solid black;
    background-color: transparent;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    outline: none;
    font-size: .9em;
    font-family: Lato, Helvetica, sans-serif;   
}

p.msg-label {
    margin-right: 23px;
}

textarea.form-text-area {
    border: none;
    border: 4.5px solid black;
    margin-right: 6px;
    background-color: transparent;
    font-size: .9em;
    height: 80px;
    width: 250px;
    color: black;
    font-family: Lato, Helvetica, sans-serif;

}