.link-row .sub-title{
  color: black;
  display: block;
  font-size: 1em;
  margin-top: -10px;
  margin-bottom: -23px;
  position: absolute;
  z-index: 1;
}

.fav-li-underline::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.75s;
}
.fav-li-underline:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}