/* CONTACT FORM */
.l-Section-content #contact-form {
    display: flex;
    justify-content: space-around;
    margin: auto;
    color: black;
}

textarea.form-text-area {
    height: 1em;
    width: 50%;
    border: 2px solid lightblue;
    background-color: transparent;
    font-size: .9em;
    color: white;
    margin-top: 2em;
    padding: 12.5px;
    border-radius: 1px;
    overflow-y: hidden; 
}

textarea.form-text-area:focus {
    height: 6em;
    border: 2px solid #10e3eb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#form{
    background: #4e80a3c4;
}

#contact-form-fields{
    margin-left: -45px;
}
    #contact-form span{
        color: #111;
    }
