.content-header{
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 2s ease-in 1 normal forwards;
    -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
       animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}