.navbar{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
}
.navbar a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  z-index: 5;
  }

  .navbar a img{
    height: 3em;
  }