.apt-body{
  background: url('../../assets/images/apt-exterior.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  overflow: auto;
}

  #interior{
    background: url('../../assets/images/apt-interior.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #amenities{
    background: url('../../assets/images/amenity.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.apt-body h1{
  color: black;
  font-family: 'Libre Caslon Display';
  font-size: 5em;
  font-weight: 100;
  margin-left: .5em;
  margin-top: 0;
  text-shadow: none;
}

.sticky-footer{
  background: none;
  position: fixed;
  left: 0;
  margin-left: 1em;
  bottom: 0;
  width: 100%;
  text-align: left;
}
  .sticky-footer p{
    color: black;
    font-family: 'Libre Caslon Display';
    text-transform: uppercase;
  }

.apt-section-content-wrap{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.apt-section-content{
  background: repeat url('../../assets/icons/bg-tile.png');
  background-size: 30px auto;
  box-shadow: inset 1em 5px 2em rgb(38, 53, 62), inset -1em -5px 2em rgb(38, 53, 62);
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 5%;
  padding: 2em;
  width: 500px;
}
  .apt-section-content .apt-section-title{
    color: white;
    font-size: 2.5em;
    margin-left: 0;
    text-transform: uppercase;
  }
  .apt-section-content p{
    color: white;
    font-family: 'Khula';
    font-weight: 100;
    font-size: .85em;
  }

.apt-section-button{
  display: flex;
  justify-content: flex-end;
}
  .apt-section-button button{
    background: none;
    border: 1px solid white;
    color: white;
    font-family: 'Khula';
    margin-left: 1em;
    margin-right: 1em;
  }
  .apt-section-button button:hover {
    background: white;
    color: black;
    transition: background-color .75s, color .75s;
  }
.apt-icon-content{
  width: 33%;
  border: 1px solid pink;
  margin-top: 5%;
  margin-left: 8%;
  color: white;
}
  .apt-productIcon-title{
    color: white;
    font-size: 1em;
  }
