.nav-menu-ul{
  /* border: 1px solid pink; */
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}
.nav-menu-ul-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-menu-ul-container ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 2s ease-in 1 normal forwards;
    -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
       animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.nav-menu-ul-container a{
  text-decoration: none;
  position: relative;
  font-size: 1.75rem;
  font-weight: 900;
  padding: 8px 0;
}

.li-underline::after{
  content: "";
  border-bottom: solid 4px #EF5C4E;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.75s;
}
.li-underline:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.link-display span{
  color:#7E4D4E;
  font-size: 1.25rem;
}

.display-on-click{
  display: none;
}

#hash1, #hash2, #hash3, #hash4{
  margin-left: 1em;
  display: none;
}

/* #target1, #target2, #target3{
  line-height: 2em;
} */

.nav-menu-img-container:hover{
  opacity: 0.6;
}

.nav-menu-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
#label1, #label2, #label3, #label4, #label5{
  display: none;
  position: absolute;
  padding-top: 1em;
  padding-left: 1em;
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}