/* WORK SAMPLE 1 */
.sp-body{
  background-color: rgb(250, 250, 250);
  display: flex;
  min-height: 100vh;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  overflow: hidden;
}
.sp-heading{
  display: flex;
  min-width: 15rem;
  max-width: 30rem;
  /* align-self: stretch; */
  flex-direction: column;
  flex: 1 1 auto;
  padding-right: 5rem;
}
.sp-heading h1{
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant SC', serif;
  justify-content: flex-end;
  margin: 0;
  padding: 0.4rem 0;
  border-bottom: 1px solid #161626;
  font-size: 4rem;
  line-height: 1;
  font-weight: 600;
  flex: 1 1 50%;
  }
  .sp-heading h2 {
    color: #3b3a4a;
    font-family: 'Cormorant', sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 1.1rem 0;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1;
    flex: 1 1 50%;
  }
  .sp-heading li{
    list-style-type: none;
  }
  .sp-heading a{
    cursor: pointer;
  }

.sp-panel{
  display: block;
  width: calc(100vmin - 2rem);
  height: calc(100vmin - 2rem);
  max-width: 30rem;
  max-height: 30rem;
  background: url('../../assets/icons/ritual-panel.jpeg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* box-shadow: inset -1em 23px 5em rgb(250, 250, 250), inset 7em 45px 5em rgb(250, 250, 250); */
}

input[type='checkbox']{
  display: none;
}

input[type='checkbox']:checked + .menu-content {
  transform: translateY(-70px);
}

.card-body{
  display: flex;
  flex-direction: column;
}

.card{
  /* float: left; */
  padding: 0 1.7rem;
  box-shadow: inset -1em 23px 5em rgb(250, 250, 250), inset 7em 45px 5em rgb(250, 250, 250);
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
#card2{
  background: url('../../assets/images/ritual-steam.jpg') 20% 1% / cover no-repeat;
  background-position: center;
}
#card3{
  background: url('../../assets/images/ritual-beauty.jpg') 20% 1% / cover no-repeat;
  background-position: center;
  /* background-size: 300px 240px; */
}
.card-wrapper{
  background-color: #f1f1ec;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0,0,0, 0.3), 0 15px 12px rgba(0,0,0, 0.2);
}

.date{
  top: 0;
  left: 0;
  padding: 0.8em;
}

/* .date span{
  display: block;
  text-align: center;
} */

.date-label{
  /* position: absolute; */
  color: #3b3a4a;
  display: block;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  transform: translate(-50%, 0);
}

.day{
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgb(black, 0.18);
}
.month{
  text-transform: uppercase;
}
.month, .year{
  font-size: 12px;
}

.data{
  bottom: 0;
  width: 100%;
  transform: translateY(calc(460px + 1em));
  transition: transform 0.8s;
}
  .data-on-hover{
    transform: translateY(200px);
  }
.content {
  background-color: white;
  /* background-color: rgba(255, 255, 255, 0.61); */
  height: 725px;
  padding: 1em;
  position: relative;
  z-index: 1;
}
.author {
  color: #3B3A4A;
  font-family: 'Cormorant SC';
  font-size: 1em;
  margin-left: 1em;
  text-align: left;
}
.card-title{
  color: #161626;
  font-family: 'Cormorant SC';
  font-size: 2.5em;
  margin-top: 4px;
  padding: 1vmin 1rem;
}
.card-title a{
  color: #161626;
}
.card-text{
  font-family: 'Khula';
  font-size: 1em;
  padding: 1vmin 1rem;
  color: #161626;
}

.card1{
  background: url('../../assets/images/ritual-massage.jpg') 20% 1% / auto no-repeat;
  /* background-image: linear-gradient(to top right, #ddd6f3, #faaca8); */
  /* max-width: 500px; */
}

  .card1 .date{
    position: absolute;
    top: 0;
    left: 10%;
    padding: 0.8em;
  }
  .card1 span{
    display: block;
    font-family: 'Khula';
  }

.menu-button{
  /* border: 1px solid #161626; */
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  height: 20px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
  .menu-button img{
    height: 28px;
  }
  .menu-button span{
    width: 5px;
    height: 5px;
    background-color: lighten(#161626, 50%);
    color: lighten(#161626, 50%);
    position: relative;
    display: inline-block;
    border-radius: 50%;
  }

.menu-content{
  font-family: 'Khula';
  text-align: center;
  padding-left: 0;
  position: absolute;
  top:-16px;
  left: 0;
  width: 101%;
  z-index: -1;
  transition: transform 0.3s;
  transform: translateY(0);
  list-style-type: none;

}
  .menu-content li{
    /* display: inline-block; */
    width: 33.333333%;
    float: left;
    background-color: #f2f2f4;
    height: 70px;
    position: relative;
  }
  .menu-content a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
  }
  .menu-content a img{
    margin-top: 12px;
    padding-left: 5px;
    height: 1.5em;
  }
  .menu-content span{
    top: -10px;
    text-align: center;
    font-size: .45em;
  }

.content-select{
  margin-top: 3em;
  padding: 1vmin 1rem;
}
  .content-select-subtitle{
      color: #3B3A4A;
      font-family: 'Cormorant SC';
      font-size: 1.25em;
      padding-left: 1em;
      text-align: left;
      /* margin-bottom: 1.25em; */
  }
  .content-select-subtitle-d{
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 2em;
    text-align: left;
  }
    .content-select button{
      border: 1px solid #f2f2f4;
      border-radius: 2.5px;
      font-family: 'Khula';
      margin-left: 70%;
      padding-top: 5px;
      position: absolute;
    }
    .content-select button:hover{
      border: 1px solid #3b3a4a;
    }
.sp-menu-container ul{
  padding-right: 15rem;
}

.sp-menu-container ul li{
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 2s ease-in 1 normal forwards;
    -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
       animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.sp-li-underline:hover{
  -webkit-transition: color 1s;
  transition: color 1s;
  color: #969db8;
}
.sp-li-underline:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

/* .spa-head-container{
  box-shadow: inset -10em 70px 93em rgb(0,0,0), inset 3em -99px 10em rgb(0, 0, 0);
  padding: 2em;
} */

/* .spa-image-wrap{
  height: 700px;
  overflow: auto;
} */

.lines{
    color: #ebebeb;
    margin-top: 6em;
    position: relative;
    font-family: 'Cormorant SC', sans-serif;
    left: 50%;
    margin-right: 30%;
    transform: translate(-50%, -25%)
}

.sp-card {
  display: none;
  width: calc(100vmin - 2rem);
  height: calc(100vmin - 2rem);
  padding-left: 1em;
  padding-right: 1em;
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 8px;
  box-shadow: 0 23px 23px 7px rgba(138, 130, 130, 0.04);
  background-color: #ffffff;
  overflow-y: scroll;
  transition: all 200ms ease-out;
}
/* remove scrollbar */
  ::-webkit-scrollbar{
    width: 0px;
  }
  .sp-card:hover{
    transform: scale(1.05);
    transition: all 200ms ease-out;
  }
  
  .sp-card:hover .sp-overlay{
    cursor: pointer;
    bottom: -30px;
    right: -30px;
    transition: all 200ms ease-out;
  }
  
  .sp-info {
    height: 35%;
  }
    .sp-title {
      color: #969db8;
      font-family: 'Cormorant SC';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.67px;
      color: #969db8;
    }
    #sp-subtitle{
      display: block;
      font-family: 'Cormorant SC';
      text-align: center;
    }
    .sp-copy {
      color: #525252;
      font-family: 'Khula';
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.44px;
      margin-top: 5px;
    }

  .sp-button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-family: 'Cormorant SC';
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.44px;
    color: #272626;
    padding: 0;
  }
  .sp-overlay {
    background-color: #272626;
    height: 100px;
    width: 110px;
    border-radius: 10%;
    position: absolute;
    bottom: -120px;
    right: -120px;
    transition: all 200ms ease-in;
  }

.sp-actions {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sp-heart-container {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.sp-heart {
  background-color: white;
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 20px;
}

    .sp-heart:before,
    .sp-heart:after {
        content: "";
        background-color: black;
        border-radius: 50%;
        height: 20px;
        position: absolute;
        width: 20px;
    }

    .sp-heart:before {
      top: -12px;
      left: 0;
    }

    .sp-heart:after {
      left: 12px;
      top: 0;
    }

.sp-img{
  height: 40%;
  object-fit: contain;
}

/*DESKTOP*/
@media screen and (min-width : 1120px) {
  .card-body{
    display: flex;
    flex-direction: row;
  }
  .card{
    width: 50%;
  }
    .card-text{
      margin-right: 10%;
    }
}